* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

header {
  background-color: #E5ECE4;
}

.container {
  max-width: 1440px;
}

.top {
  background: #E5ECE4;
  padding-top: 152px;
}

.top img {
  max-width: 100%;
  position: relative;
  bottom: -5px;
}

.top__wrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}

.top__h1 {
  color: #4C604A;
  margin-bottom: 40px;
}

.top__text {
  margin-bottom: 136px;
  font-size: 22px;
  line-height: 150%;
}

@media (max-width: 1024px) {
  .top {
    padding-top: 50px;
  }
  .top__wrapper {
    padding: 0 20px;
    padding-bottom: 70px;
    text-align: center;
    max-width: 900px;
  }
  .top__h1 {
    font-size: 31px !important;
    line-height: 140% !important;
  }
  .top__text {
    margin-bottom: 0 !important;
    font-size: 18px !important;
    line-height: 150% !important;
  }
}

.half {
  float: left;
  width: 100%;
}

/* Acordeon styles */
.questions {
  padding: 150px 12.5%;
}

@media (max-width: 1024px) {
  .questions {
    padding: 70px 20px;
  }
}

@media (max-width: 404px) {
  .questions {
    padding: 70px 20px;
  }
}

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: black;
  overflow: hidden;
  padding: 30px 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.3);
}

.tab:nth-child(1) {
  border-top: 1px solid rgba(85, 85, 85, 0.3);
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab label {
  position: relative;
  display: block;
  padding: 0 30px;
  background: #FFFFFF;
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  /* identical to box height, or 42px */
  color: #000000;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .tab label {
    font-size: 20px;
    line-height: 150%;
  }
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #FFFFFF;
  -webkit-transition: max-height 0.35s;
  transition: max-height 0.35s;
}

.tab-content p {
  padding: 0 20px;
  margin-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  color: #000000;
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .tab-content p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #000000;
    opacity: 0.6;
  }
}

/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

@media (max-width: 1024px) {
  .tab label::after {
    width: 25px;
    height: 25px;
  }
}

.tab__svg {
  position: absolute;
  right: 0;
}

.tab input[type="checkbox"] + label::after {
  top: 0;
  content: "";
  background-image: url("/img/accordion-plus.svg");
}

@media (max-width: 1024px) {
  .tab input[type="checkbox"] + label::after {
    background-image: url("/img/accordion-plus-mobile.svg");
  }
}

.tab input[type="radio"] + label::after {
  content: "\25BC";
}

.tab input[type="checkbox"]:checked + label::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url("/img/accordion-minus.svg");
}

@media (max-width: 1024px) {
  .tab input[type="checkbox"]:checked + label::after {
    background-image: url("/img/accordion-minus-mobile.svg");
  }
}

.company-value {
  padding: 150px 0px;
  background: #f6f6f6;
  padding-left: 12.5%;
}

.company-value__img-stack_mobile {
  display: none;
}

.company-value img {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .company-value {
    padding: 70px 20px;
  }
}

.company-value__img-stack {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  position: relative;
}

.company-value__women {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  z-index: 1;
}

.company-value__plant {
  grid-column: 4 / -1;
  grid-row: 1/ -1;
}

@media (max-width: 1024px) {
  .company-value__img-stack {
    -ms-grid-row: 1;
    grid-row: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    position: relative;
  }
  .company-value__women {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / span 5;
    grid-row: 4 / -1;
    z-index: 1;
  }
  .company-value__plant {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / span 5;
  }
}

@media (max-width: 440px) {
  .company-value .company-value__wrapp {
    -ms-grid-rows: 475px auto;
        grid-template-rows: 475px auto;
  }
  .company-value__img-stack {
    display: none;
  }
  .company-value__img-stack_mobile {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 475px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .company-value__img-stack_mobile img {
    width: 100%;
    height: 100%;
  }
  .company-value__img-stack_mobile .company-value__women__mobile {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 20px;
  }
  .company-value__img-stack_mobile .company-value__plant__mobile {
    width: 335px;
    height: 400px;
    max-width: 100%;
  }
}

@media (max-width: 374px) {
  .company-value .company-value__plant__mobile {
    width: 100%;
    height: inherit;
    max-width: 100%;
  }
}

.company-value__wrapp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 490px) auto;
      grid-template-columns: minmax(300px, 490px) auto;
  gap: 15.3%;
}

.company-value__wrapp .company-value__titile {
  font-size: 60px;
  margin-bottom: 40px;
  color: #4C604A;
}

.company-value__wrapp .company-value__text {
  font-size: 22px;
}

.company-value__wrapp .company-value__span {
  font-size: 28px;
  line-height: 150%;
}

.company-value__wrapp .company__value__button {
  background: transparent;
  margin-top: 40px;
  color: #4C604A;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 13px 25px;
  border: 1px solid #4C604A;
}

@media (max-width: 1024px) {
  .company-value__wrapp {
    gap: 70px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
  }
  .company-value__wrapp .company-value__titile {
    font-size: 31px !important;
    margin-bottom: 30px;
  }
  .company-value__wrapp .company-value__text {
    font-size: 18px !important;
  }
  .company-value__wrapp .company-value__span {
    font-size: 20px;
    line-height: 150%;
  }
  .company-value__wrapp .company__value__button {
    padding: 14px 0px;
  }
  .company-value__wrapp .company-value__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description {
  padding: 150px 12.5%;
}

.description__long-text {
  font-size: 22px;
  line-height: 150%;
}

.description__short-text {
  margin-right: 255px;
}

@media (max-width: 1024px) {
  .description {
    padding: 70px 20px;
    gap: 70px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .description__short-text {
    font-size: 20px !important;
    line-height: 150%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .description__long-text {
    font-size: 18px !important;
  }
  .description .description__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description .description__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__short-text {
  max-width: 483px;
  font-size: 28px;
  line-height: 150%;
  /* or 42px */
}

.description__long-text {
  max-width: 700px;
}

.promise {
  padding: 150px 12.5%;
  background-image: url("/img/course-back.png");
  background-position: center;
}

@media (max-width: 1024px) {
  .promise {
    padding: 70px 20px;
  }
  .promise .item__text {
    font-size: 18px !important;
  }
  .promise .item__title {
    font-size: 20px !important;
  }
  .promise__title {
    font-size: 31px !important;
    margin-bottom: 30px;
  }
  .promise .numeration {
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 31px !important;
    line-height: 140%;
  }
  .promise__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promise__list {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

.promise__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 13%;
          column-gap: 13%;
  row-gap: 47px;
}

.promise__title {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 140%;
  /* or 84px */
  margin-bottom: 50px;
  text-transform: capitalize;
  color: #4c604a;
}

.promise .numeration {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 140%;
  /* identical to box height, or 84px */
  text-transform: capitalize;
  color: #688c63;
  opacity: 0.3;
  margin-right: 30px;
}

.promise__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 503px;
}

.promise .item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promise .item__title {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  /* or 42px */
  color: #688c63;
}

.promise .item__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  color: #555555;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion__container:nth-child(1) {
  border-top: 1px solid rgba(85, 85, 85, 0.3);
}

@media (max-width: 1024px) {
  .panel {
    font-size: 18px !important;
  }
  .accordion {
    font-size: 20px !important;
  }
  .accordion__svg {
    top: 42%;
    width: 25px;
    height: 25px;
  }
}

.accordion__container {
  border-bottom: 1px solid rgba(85, 85, 85, 0.3);
}

.accordion__container .panel {
  padding-bottom: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  color: #000000;
  opacity: 0.6;
}

.accordion {
  position: relative;
  padding: 30px 20px;
  padding-right: 50px;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* Text2 */
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  /* identical to box height, or 42px */
  color: #000000;
}

.accordion__svg {
  position: relative;
  position: absolute;
  right: 20px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.active svg path {
  d: path("M9.3667 20C9.3667 19.7239 9.59056 19.5 9.8667 19.5H30.1334C30.4095 19.5 30.6334 19.7239 30.6334 20C30.6334 20.2761 30.4095 20.5 30.1334 20.5H9.8667C9.59056 20.5 9.3667 20.2761 9.3667 20Z");
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
/*# sourceMappingURL=course.css.map */