.banner {
  padding-left: 12.5%;
  padding-top: 220px;
  padding-bottom: 262px;
  background: #e5ece4;
  background-repeat: no-repeat;
}

.banner__wrapper {
  max-width: 761px;
}

.banner__titile {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: calc(24px + 36 * (100vw / 1920));
  line-height: 140%;
  color: #333333;
  margin-bottom: 50px;
}

.banner__titile span {
  color: #688c63;
}

.banner__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  color: #333333;
  margin-bottom: 60px;
}

.banner__button {
  background: #69a561;
  padding: 17px 23px;
  border: none;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.3em;
  cursor: pointer;
  color: #ffffff;
}

.cards {
  position: relative;
  padding-top: 125px;
  padding-bottom: 101px;
  padding-left: 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f7f7f7;
}

@media (max-width: 1024px) {
  .cards {
    text-align: center;
    padding: 70px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .cards__description {
    margin: 0;
    margin-bottom: 30px;
  }
  .cards__slider {
    padding: 0;
    margin-bottom: 30px;
  }
  .cards .slider__navigation {
    position: relative;
    bottom: inherit;
    right: inherit;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.cards__slider {
  position: relative;
}

.cards__description {
  margin-right: 51px;
}

.cards__text:not(:last-child) {
  margin-bottom: 30px;
}

.cards__title {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: calc(24px + 36 * (100vw / 1920));
  line-height: 140%;
  color: #4c604a;
  margin-bottom: 40px;
}

.cards__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #555555;
}

.home-page__header {
  background: #e5ece4;
}

.slider__prev {
  margin-right: 30px;
}

@media (max-width: 400px) {
  .slider .slider__item {
    margin-right: 0;
  }
}

.fresh {
  padding: 100px 0;
  padding-left: 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 19px;
          column-gap: 19px;
}

.fresh__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fresh__title {
  font-size: 60px;
  margin-right: 131px;
  max-width: 344px;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* or 84px */
  color: #4c604a;
  padding-top: 149px;
}

@media (max-width: 1900px) {
  .fresh__title {
    font-size: calc(24px + 36 * (100vw / 4400));
  }
}

@media (max-width: 1024px) {
  .fresh {
    padding-left: 0;
    font-size: calc(24px + 36 * (100vw / 4400));
  }
  .fresh__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fresh .fresh__plant {
    display: none;
  }
  .fresh__title {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.fresh__img-stack {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  position: relative;
}

@media (max-width: 1024px) {
  .fresh__img-stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fresh__img-stack img {
    max-width: 100%;
  }
  .fresh__img-stack .fresh__women {
    width: 335px;
    height: 440px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    z-index: 1;
  }
  .fresh__img-stack .fresh__banner {
    padding-top: 252px;
    z-index: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
  }
}

.fresh__women {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  grid-row: 1;
}

.fresh__banner {
  grid-column: 6 / -1;
  -ms-grid-row: 1;
  grid-row: 1;
  padding-top: 122.8%;
  z-index: 1;
}

.fresh__wrapper-for-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fresh__banner {
  background: #4c604a;
  padding: 21.5% 150px;
  max-width: 700px;
  max-height: 925px;
}

@media (max-width: 1024px) {
  .fresh__banner {
    max-width: initial;
  }
}

.fresh__banner__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: calc(18px + 4 * (100vw / 2220));
  font-size: 18px;
  line-height: 150%;
  line-height: 150%;
  /* or 33px */
  text-align: center;
  color: #ffffff;
  margin-bottom: 100px;
}

.fresh__banner__button {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.3em;
  color: #ffffff;
  padding: 13px 67px;
  border: 1px solid #ffffff;
  text-align: center;
}

.moment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 213px;
  padding-left: 99px;
}

@media (max-width: 1680px) and (min-width: 1026px) {
  .moment {
    display: -ms-grid;
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  .moment {
    padding: 0 20px;
    padding-top: 70px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .moment__button {
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .moment__plant {
    width: 348px;
    height: 257.66px;
    max-width: 100%;
    margin: 0 !important;
  }
}

.moment__plant {
  margin-right: 88px;
}

.moment__wrapper {
  max-width: 455px;
}

.moment img {
  height: 100%;
  max-width: 100%;
}

.moment__title {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 140%;
  /* or 84px */
  color: #4c604a;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 140%;
  /* or 84px */
  color: #4c604a;
  margin-bottom: 4px;
}

@media (max-width: 1024px) {
  .moment__title {
    font-size: calc(18px + 24 * (100vw / 1024));
  }
}

.moment__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  color: #555555;
  margin-bottom: 60px;
}

.moment__button {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.3em;
  padding: 18px 43px;
  color: #4c604a;
  border: 2.44089px solid #4c604a;
  max-width: 334px;
}
/*# sourceMappingURL=homePage.css.map */