.banner {
  padding-left: 12.5%;
  padding-top: 220px;
  padding-bottom: 262px;
  background: #e5ece4;
  // background-image:url('/img/home-page-banner.png');
  background-repeat: no-repeat;
  &__wrapper {
    max-width: 761px;
  }
  &__titile {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    font-size: calc(24px + 36 * (100vw / 1920));
    line-height: 140%;
    color: #333333;
    span {
      color: #688c63;
    }
    margin-bottom: 50px;
  }
  &__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    /* or 33px */

    color: #333333;
    margin-bottom: 60px;
  }
  &__button {
    background: #69a561;
    padding: 17px 23px;
    border: none;
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.3em;
    cursor: pointer;
    color: #ffffff;
  }
  @media (max-width: 1024px) {
    text-align: center;
    padding: 0 20px;
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
@media (max-width: 460px) and (min-width: 400px) {
  .cards {
    padding: 70px 32px !important;
  }
  .slick-slide {
    margin-right: 10px;
  }
}
.cards {
  position: relative;
  padding-top: 125px;
  padding-bottom: 101px;
  padding-left: 12.5%;
  display: flex;
  background: #f7f7f7;
  @media (max-width: 1024px) {
    text-align: center;
    padding: 70px 20px;
    flex-direction: column;
    .cards__description {
      margin: 0;
      margin-bottom: 30px;
    }
    &__slider {
      padding: 0;
      margin-bottom: 30px;
    }
    // align-items:center;
    .slider__navigation {
      position: relative;
      bottom: inherit;
      right: inherit;
      align-self: center;
    }
  }
  &__slider {
    position: relative;
  }
  &__description {
    margin-right: 51px;
  }
  &__text:not(:last-child) {
    margin-bottom: 30px;
  }

  &__title {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    font-size: calc(24px + 36 * (100vw / 1920));
    line-height: 140%;
    color: #4c604a;
    margin-bottom: 40px;
  }
  &__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #555555;
  }
}
.home-page__header {
  background: #e5ece4;
}

.slider__prev {
  margin-right: 30px;
}
.slider {
  @media (max-width: 400px) {
    .slider__item {
      margin-right: 0;
    }
  }
}
.slider__next {
}

.fresh {
  //     img {
  //   max-width: 100%;
  // }
  padding: 100px 0;
  padding-left: 12.5%;
  display: flex;
  column-gap: 19px;
  &__wrapper {
    position: relative;
    display: flex;
  }
  &__title {
    font-size: 60px;
    margin-right: 131px;
    max-width: 344px;
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* or 84px */

    color: #4c604a;
    padding-top: 149px;
    @media (max-width: 1900px) {
      font-size: calc(24px + 36 * (100vw / 4400));
    }
  }
  @media (max-width: 1024px) {
    padding-left: 0;

    font-size: calc(24px + 36 * (100vw / 4400));
    &__wrapper {
      flex-direction: column;
      // max-height: 843px;
    }
    .fresh__plant {
      display: none;
    }
    &__title {
      padding: 0;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .banner,
  .cards,
  .fresh {
    padding: 100px 50px;
  }
  .fresh {
    padding-right: 0;
    &__women {
      grid-column: 1 / span 5 !important;
    }
  }

  // .cards__description{
  //   align-items:center;
  // }
  .slider {
    padding-top: 0;
    max-width: 700px;
  }
}
.fresh__img-stack {
  display: grid;
  // ali?
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  @media (max-width: 1024px) {
    // grid-template-columns: auto;
    // grid-template-rows: repeat(12, 1fr);
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      max-width: 100%;
    }
    .fresh__women {
      // grid-row: 1 / span 6;
      width: 335px;
      height: 440px;
      align-self: center;
      z-index: 1;
    }

    .fresh__banner {
      // grid-row: 4 / -1;

      padding-top: 252px; // 593 this pushes the image down, and keeps it proportional as it resizes
      z-index: 0; // make this image render on top of the bottom
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 70px;
    }
  }
}
@media (min-width: 1930px) {
  .fresh__wrapper {
    width: 100%;
    justify-content: space-between;
  }
  img{
    width: 100%;
  }
  .fresh__banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 1900px) and (min-width: 1025px) {
  .fresh__banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 25px !important;
  }
}
.fresh__women {
  grid-column: 2 / span 5;
  align-self: center;
  grid-row: 1; // make this image be on the same row
}
.fresh__banner {
  grid-column: 6 / -1;

  grid-row: 1; // must be on the same row as the other image
  padding-top: 122.8%; // 593 this pushes the image down, and keeps it proportional as it resizes
  z-index: 1; // make this image render on top of the bottom
}
.fresh__wrapper-for-img {
  display: flex;
}
.fresh__banner {
  background: #4c604a;
  padding: 21.5% 150px;
  @media (max-width: 1024px) {
    max-width: initial;
  }
  max-width: 700px;
  max-height: 925px;
  &__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: calc(18px + 4 * (100vw / 2220));
    font-size: 18px;
    line-height: 150%;
    line-height: 150%;
    /* or 33px */

    text-align: center;

    color: #ffffff;
    margin-bottom: 100px;
  }
  &__button {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.3em;

    color: #ffffff;
    padding: 13px 67px;
    border: 1px solid #ffffff;
    text-align: center;
  }
}

.moment {
  display: flex;
  padding-top: 213px;
  padding-left: 99px;
  @media (max-width: 1680px) and(min-width:1026px) {
    display: grid;
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 30px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 1024px) {
    padding: 0 20px;
    padding-top: 70px;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    &__button {
      margin: 0 auto;
      margin-bottom: 70px;
    }
    &__plant {
      width: 348px;
      height: 257.66px;
      max-width: 100%;
      margin: 0 !important;
    }
  }
  &__plant {
    margin-right: 88px;
  }
  &__wrapper {
    max-width: 455px;
  }
  img {
    height: 100%;
    max-width: 100%;
  }
  &__title {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 140%;
    /* or 84px */

    color: #4c604a;
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 140%;
    /* or 84px */

    color: #4c604a;
    margin-bottom: 4px;
    @media (max-width: 1024px) {
      font-size: calc(18px + 24 * (100vw / 1024));
    }
  }
  &__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    /* or 33px */

    color: #555555;
    margin-bottom: 60px;
  }
  &__button {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.3em;
    padding: 18px 43px;
    color: #4c604a;
    border: 2.44089px solid #4c604a;
    // justify-self: flex-start;
    max-width: 334px;
  }
}
