@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype"), url("/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype"), url("/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype"), url("/fonts//Montserrat-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype"), url("/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1225px;
  margin: 0 auto;
}

.main-title {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 140%;
  /* identical to box height, or 84px */
  text-transform: capitalize;
}

.second-title {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
}

.text-1 {
  /* TEXT */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  color: #787878;
}

.text-2 {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 500;
  /* or 42px */
  /* Текст(серый) */
  color: #787878;
}

.header {
  padding: 20px 55px;
}

@media (max-width: 600px) {
  .header {
    padding: 20px;
  }
}

.active-link {
  /* Highlight Page */
  font-family: "Futura" !important;
  font-weight: 700 !important;
  color: #333333;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 90px) minmax(auto, 844px);
      grid-template-columns: minmax(auto, 90px) minmax(auto, 844px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .nav .nav__link:not(:last-child) {
  color: #333333;
}

.navigation .nav .nav__link:nth-child(3n) {
  margin-right: 35px;
}

.navigation .nav .nav__link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.3em;
}

.navigation .nav .nav__link_book-course-link {
  padding: 13px 25px;
  border: 1px solid #4c604a;
  color: #4c604a;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 372px) {
  .nav__link_book-course-link {
    padding: 13px 7px;
  }
}

.btn-1:focus {
  border: 1px solid #4c604a;
  outline: none;
}

.btn-1:hover {
  color: #ffffff !important;
  background: #4C604A;
}

.btn-1:active {
  -webkit-transform: scaleY(95%);
          transform: scaleY(95%);
}

.btn-2:hover {
  color: black !important;
  background: #FFFFFF;
}

.btn-2:active {
  -webkit-transform: scaleY(95%);
          transform: scaleY(95%);
}

.btn-3:hover {
  color: #ffffff !important;
  background: #4C604A;
}

.btn-3:active {
  -webkit-transform: scaleY(95%);
          transform: scaleY(95%);
}

.footer {
  position: relative;
  background: #4c604a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 56px;
}

.footer__line {
  display: none;
  margin-bottom: 60px;
}

@media (max-width: 376px) {
  .footer__line {
    display: block;
    position: relative;
    width: 100%;
  }
}

@media (max-width: 376px) {
  .footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: block;
    position: relative;
    width: 100%;
  }
  .footer__nav {
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: none !important;
    margin-bottom: 0 !important;
  }
  .footer__annotation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer__pay-pal_mobile {
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer .book-btn {
    margin-right: 18px;
    margin-left: 18px;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 0 20px;
    padding-top: 60px;
    padding-bottom: 31px;
  }
  .footer .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 60px;
  }
  .footer .footer__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav__logo {
    margin-bottom: 60px;
  }
  .footer__text {
    font-size: 18px !important;
    line-height: 150% !important;
  }
  .footer__mini-logo {
    display: none;
  }
  .footer__annotation {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__annotation__links {
    text-align: center;
    margin-bottom: 21px;
  }
  .footer__annotation__link {
    opacity: 0.6;
    font-size: 15px !important;
    line-height: 190% !important;
  }
  .footer__link:not(:last-child) {
    margin-bottom: 40px;
  }
  .footer__nav__pay-pal {
    display: none;
  }
  .footer__pay-pal_mobile {
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 32px;
  }
}

.footer__annotation {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
}

.footer__text {
  -ms-grid-column-align: self-start;
      justify-self: self-start;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  text-align: center;
  color: #ffffff;
}

.footer__mini-logo {
  -ms-grid-column-align: self-end;
      justify-self: self-end;
}

.footer__nav {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto minmax(auto, 448px) 85px;
      grid-template-columns: auto minmax(auto, 448px) 85px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
  margin-bottom: 40px;
}

@media (min-width: 376px) {
  .footer__nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.footer__annotation__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  /* identical to box height, or 22px */
  text-align: center;
  color: #ffffff;
}

.footer .book-btn {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.3em;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 14px 51px;
  background: transparent;
  margin-bottom: 40px;
}

.footer__pay-pal_mobile {
  display: none;
}

@media (max-width: 1024px) {
  .navigation_desck {
    display: none;
  }
}

.navigation_mob {
  display: none;
}

@media (max-width: 1024px) {
  .navigation_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation_mob .logo_mobile {
    width: 35px;
    height: 24px;
  }
}

.menu-btn {
  width: 22.22px;
  height: 25px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #222222;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 11.1px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 11px);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #e5ece4;
  background-image: url("/img/menu-plant.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 142px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.menu li:not(:last-child) {
  margin-bottom: 71px;
}

@media (max-width: 372px) {
  .menu li:not(:last-child) {
    margin-bottom: 40px;
  }
}

.menu .nav__link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  /* or 22px */
  text-align: center;
  letter-spacing: 0.3em;
  color: #555555;
}

.menu .nav__link_book-course-link {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  border: 1px solid #4C604A;
  padding: 14px 82px;
  color: #4c604a;
}

@media (max-width: 372px) {
  .menu .nav__link_book-course-link {
    padding: 13px 15px !important;
  }
}

.menu__wrap {
  z-index: 22;
}

.menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu li {
  list-style-type: none;
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

.body-overflow-h {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */