@import "__variables.scss";
.reviews__header {
  background: $super-light-green;
}
.header {
  background: $super-light-green;
}
.top {
  .top-plant_mobile {
    display: none;
  }
  background: $super-light-green;
  img {
    max-width: 100%;
    position: relative;
    bottom: -6px;
  }
  padding-top: 152px;
  &__wrapper {
    margin: 0 auto;

    text-align: center;
    max-width: 900px;
  }
  &__h1 {
    color: $dark-green;
    margin-bottom: 40px;
  }
  &__text {
    margin-bottom: 136px;
    font-size: 22px;
    line-height: 150%;
  }
  @media (max-width: 1024px) {
    padding-top: 50px !important;

    padding-top: 152px;
    &__wrapper {
      padding: 0 20px;
      padding-bottom: 70px;

      text-align: center;
      max-width: 900px;
    }
    &__h1 {
      font-size: 31px !important;
      line-height: 140% !important;
    }
    &__text {
      margin-bottom: 0 !important;
      font-size: 18px !important;
      line-height: 150% !important;
    }
  }
}
.reviews__navigation_mobile{
  display: none;
}
@media (max-width: 376px) {
  .top-plant {
    display: none;
  }
  .top-plant_mobile {
    display: block !important;
  }
  .reviews__author {
    width: 75px;
    height: 75px;
  }
  .reviews__comma {
    width: 20px;
    height: 17.5px;
  }
  .reviews {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }
  .reviews__slider__item {
    grid-template-rows: 105px 1fr !important;
  }
}
@media (max-width: 1024px) {
  .reviews__navigation{
    display: none;
  }
  .reviews__navigation_mobile{
    display: block;
    position:initial !important;
  }
  .reviews__slider__item {
    grid-template-rows: 185px 1fr;
  }
  .reviews__author {
    max-width: 150px;
    max-height: 150px;
  }
  .reviews {
    padding: 70px 20px;
  }
  .reviews__text {
    font-size: 18px !important;
    line-height: 150% !important;
    margin-bottom: 30px !important;
  }
  .reviews__title {
    font-size: 20px !important;
    line-height: 150% !important;
  }
  .reviews__wrap {
    padding-bottom: 80px;
  }
  .reviews__navigation {
    left: 0;
  }
  .reviews__name {
    font-size: 20px !important;
    line-height: 150%;
  }
  .reviews__employment {
    font-size: 18px !important;
    line-height: 150%;
  }
  .reviews__location {
    margin-bottom: 30px;
    font-size: 18px !important;
    line-height: 150%;
  }
  .slider {
    padding: 0 !important;
  }
  .reviews__slider__item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr !important;

    column-gap: 125px;
  }
}
.reviews__navigation {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.reviews__review-wrap__content {
  padding-top: 33px;
}
.reviews {
  padding-top: 150px;
  padding-bottom: 141px;
  &__img {
    border-radius: 90px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__wrap {
    max-width: 1225px;
    margin: 0 auto;
    position: relative;
  }
  &__title {
    // padding-top: 33px;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */

    color: #688c63;
    margin-bottom: 50px;
  }
  &__text {
    font-size: 22px;
    line-height: 150%;
    /* or 33px */

    color: #555555;
    margin-bottom: 59px;
  }
  img {
    // max-width: 100%;
    object-fit: cover;
  }
  &__author {
    position: relative;
  }
  &__img {
    width: 150px;
    height: 150px;
    @media (max-width:375px) {
          width: 75px;
    height: 75px;
    }
  }
  & &__comma {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__slider {
    &__item {
      position: relative;
      display: grid;
      grid-template-columns: minmax(auto, 150px) 1fr;
      column-gap: 125px;
    }
  }
  &__desc-of-author {
    display: flex;
    flex-direction: column;
  }
  &__name {
    font-family: "Futura";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 45px;

    color: #555555;

    opacity: 0.7;
    margin-bottom: 4px;
  }
  &__employment {
    /* Text */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    /* identical to box height, or 33px */

    color: #555555;

    opacity: 0.5;
    margin-bottom: 5px;
  }
  &__location {
    /* Text */
    
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    /* identical to box height, or 33px */

    color: #555555;
  }
  &__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.slider {
  min-width: 0;
  //   width: 100%;
  max-width: 1205px;

  padding-top: 196px;
  // padding-bottom: 86px;
  position: relative;
}
.slider__item {
  //   border: 1px solid black;

  max-width: 380px;
}
.slick-track {
  display: flex;
}
.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.reviews__navigation {
  @media (min-width: 1024px) {
    svg:hover {
      path {
        fill: $white;
      }
      circle {
        fill: $light-green;
      }
    }
  }
  svg:active {
    path {
      fill: $white;
    }
    circle {
      fill: $light-green;
    }
  }
  cursor: pointer;
}
.slider__prev {
  margin-right: 30px;
}
