.terms__header {
  border-bottom: 1px solid rgba(76, 96, 74, 0.1);
}
.main {
  padding: 100px 60px;
  // text-align: center;
  max-width: 1010px;
  margin: 0 auto;
  @media (max-width: 1024px) {
    padding: 70px 20px;
    &__title {
      font-size: 31px !important;
    }
    &__text{
      font-size: 14px !important;
    }
  }
  &__title {
    font-size: 60px;
    line-height: 140%;
    /* identical to box height, or 84px */

    text-align: center;
    text-transform: capitalize;

    color: #4c604a;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    color: #555555;
  }
}
.main-container {
  max-width: 1010px;
  margin: 0 auto;
}
